$color-bomb: #870303;
$color-flag: #fc0303;
$color-border: white;
$color-touched: #5d6e8f;

.cell {
  padding: 5px;
  width: 32px;
  height: 32px;
  border: solid 2px $color-border;
  cursor: pointer;
  user-select: none;
  overflow: hidden;

  text-align: center;
  vertical-align: middle;
  font-size: 24px;

  &.TOUCHED {
    &.HINT {
      background-color: $color-touched;
    }

    &.BOMB {
      background-color: $color-bomb;
    }
  }

  &.HINT {
    background-color: transparent;
  }

  .flag-icon {
    color: $color-flag;
  }

  .cell-icon {
    width: 100%;
    height: 100%;
    display: grid;
  }
}